[Unit]
Description=Pornhub Video Downloader Web Interface
After=network.target

[Service]
User=root
WorkingDirectory=/opt/phdownloader
ExecStart=/usr/bin/python3 app.py
Restart=always
RestartSec=3
StandardOutput=append:/var/log/phdownloader.log
StandardError=append:/var/log/phdownloader.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
